:root {
    --bg-button: white;
    --border-button: solid 1px green;
}

.button {
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-left: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: burlywood;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: chocolate;
    color: white;
}

.button.operation:active {
    background-color: rgb(134, 62, 11);
    color: white;
}

